body {
    background-color: cornsilk;


}

h1,
h2 {
    text-align: center;
}

#menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

#continents1,
#countries1,
#cities1 {
    width: 12em;

}

#continents2,
#countries2,
#cities2 {
    width: 12em;

}


#city-cards {
    display: flex;
    position: relative;
    width: 40em;
    margin: auto;
    padding-top: 2em;
    align-items: flex-start;
    justify-content: center;


}

#city-card-wrapper1 {
    padding-right: 2em;
}

#city-card-wrapper2 {
    padding-left: 2em;
}

.city-image {
    width: 80%;
    align-items: flex-start;
    ;
    justify-content: flex-start;

}

.description {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40em

}

#citations2 {
    padding-bottom: 1em;
}


.scores {

    justify-content: flex-start;
    text-align: left;
    align-items: center;
    margin: 0;
}

.aggregate-score {
    display: flex;
    width: 100%;
    display: flex;
    align-items: left;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;

}


.citations {
    text-align: left;
    align-content: left;
    margin: auto;

}

.reset-button {
    display: flex;
    width: 40em;
    display: flex;
    align-items: left;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}